body {
  font-family: open_sansregular;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-image: url('../img/back.png');
height:auto;
}
header {
    width:60%;
    height:90px;
    position:relative;
    left:20%;
}
img {
    transform: scale(0.3);
    display:inline-block;
    position:relative;
    bottom:80px;
    right:200px;
    

}
a.book-take{
    color:white;
    text-decoration: none;
    line-height: 25px;
    width:100px;
    text-align: center;
    display:inline-block;
    background-color: #e50079;
    position:absolute; 
    right:150px;
    top:10px;
    font-size:12px;
}

a.profile{
    color:white;
    text-decoration: none;
    line-height: 25px;
    width:100px;
    text-align: center;
    display:block;
    background-color: #e50079;
    position:absolute;
    right:10px;
    top: 10px;
    font-size:12px;
}

.page-menu {
    
    width:40%;
    height:30px;
    position:relative;
    left:380px;
    margin-top:20px;



}
a.main-menu {
    color:black;
    display:inline-block;
    margin-right:40px;
}

.slider {
    margin-top:20px;
}

.slider__items {
    height: 400px;   
}

.slider__item-1{    
background:cadetblue;
}

.slider__item-2{
    background:coral;
}

.slider__item-3{
    background: cornflowerblue;
}

.slider__item-4{
    background-color:darkseagreen;
    
}

h1.news-title {
    font-size:25px;
    color:white;
    position:absolute;
    bottom:20px;
    margin-left:20px;
}

.book-list, .book, .instruction, .take-book {

    width:60%;
    position:relative;
    left:20%;
}

.form-control{
    margin-top:20px;
    margin-bottom:10px;
    
}
caption{
    text-transform: uppercase;
    font-weight:bold;
}
.th {
    font-weight: bold;
    text-align: center;    
}
a.book-title {
    color:black;
}

h1.book-title {
    line-height:35px;
}

.take-book {
    display:inline-block;
    margin-top:50px;   
}

.list, .choose-date {
    margin-bottom:20px;
}


input.btn{
    color:white;
    text-decoration: none;
    line-height: 25px;
    width:100px;
    text-align: center;
    display:block;
    background-color: #e50079;
    position:absolute;
    left:50%

}

